@{
    ViewBag.Title = "Informacion de Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
     
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Telefono Principal:</span>
        <span>648-469-4908</span>
    </p>
  
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>

    <p>
        <span class="label">Informacion General:</span>
        <span><a href="mailto:fjbonillas@hotmail.com ">fjbonillas@hotmail.com </a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Direccion de Oficina</h3>
    </header>
    <p>
        Independecia 409<br />
        Camargo, Chihuahua 33700
    </p>
</section>