@{
    ViewBag.Title = "Levantaciones Topograficas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Levantaciones Topograficas</h1>

<section>
    <p>
        
Un levantamiento topográfico se hace para conocer las características geométricas de un terreno, 
        finca o parcela. Los levantamientos topográficos determinan la localización, superficie exacta, 
        límites y altura de los diferentes puntos del terreno; 
        para que posteriormente arquitectos e ingenieros dispongan de información precisa para realizar sus proyectos de arquitectura, 
        urbanismo o infraestructuras. 
        Con el levantamiento topográfico es posible encajar con precisión un edificio, 
        calcular los movimientos de tierra o rellenos necesarios, ver el comportamiento del agua en estudios hidrológicos, etc.
    </p>
    <br />
  

</section>

