@{
    ViewBag.Title = "MedicionesTopo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mediciones Topograficas</h1>
<section>
    <p>
        Los motivos para realizar una medición topográfica, 
        y conocer las dimensiones exactas de cualquier superficie, 
        son muy variados: inexactitudes de Catastro,
         del Registro de la Propiedad, diferencias entre ellos, 
        particiones de la parcela por motivos de herencia o venta, 
        verificación de la exactitud de las expropiaciones, 
        delimitación precisa de las lindes por un conflicto con el colindante, 
        desconocimiento de la localización exacta de un terreno por no existir planos oficiales, 
        entre muchos otros, son los más frecuentes.
    </p>
    <br />
    <p>
        Para determinar con exactitud la forma y dimensiones siempre es necesario realizar una medición topográfica.
    </p>

</section>
