@{
    ViewBag.Title = "PeritacionTopo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peritaciones Topograficas</h2>

<section>
    <p>
        En el caso de no llegar a un acuerdo amistoso, 
        en relación a muchos conflictos referentes a la propiedad inmobiliaria 
        (localización, superficie o delimitación), es necesario recurrir a los Tribunales de 
        Justicia para reclamar nuestros derechos. 
    </p>
    <br />
        <p>

            El dictamen de un perito topógrafo es clave en la decisión que toman los jueces,
             dado el carácter exclusivamente técnico de nuestro trabajo.
             Cómo peritos le ofrecemos un trabajo objetivo 
            que refleje fielmente la realidad de los hechos.
        </p>
  

</section>
